@import url("http://fonts.googleapis.com/css?family=Lato");
@import url("http://fonts.googleapis.com/css?family=Oswald:400");

@mixin font($size) {
	font-family: 'Oswald', sans-serif;
	font-size: $size;
	color: white;
}

@mixin grayscale($value) {
    -webkit-filter: grayscale($value);
    -moz-filter: grayscale($value);
    filter: grayscale($value);
}

body {

}

.content {
	min-height: 500px;
	box-sizing: border-box;
	background-image: url("principal.jpg");
	background-repeat: no-repeat;
	background-position: center, center;
	background-size: 100%;
	margin-left: -10px;

}

.msg {
	position: absolute;
	top: 400px;
	left: 50%;
	@include font(50px);
}

.painel {
	background-color: white;
	width: 400px;
	height: 500px;
	position: absolute;
	top: 100px;
	left: 50%;
	opacity: 0.8;

}


// Banners init
@mixin banner() {
	width: 100%;
	height: 80px;
	line-height: 100px;
	background-color: white;
	position: absolute;
	margin: 0;
	left: 0;
	box-sizing: border-box;
}

.navbar {
	position: absolute;
	top: 0;
	left: 50%;
	margin-top: 25px;
	@include font(30px);
	letter-spacing: 1px;
	word-spacing: 30px;
}

.navbar a {
	color: #0893cf;
	text-decoration: none;
}

.banner-top {
	@include banner();
	top: 0px;
}

.banner-down {
	@include banner();
	bottom: 0px;
	word-spacing: 10px;
}


.marks {
	margin-left: 20px;
	@include grayscale(100%);
}
// Banners end

// BLocks init
.allBlocks {
	margin: 100px 0 0 -10px;
}

#cmykTexto {
	margin: -100px 0 0 -300px;

}